/* :default fonts  */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;1,500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
 
/* default settings */
*{
    margin: 0;
    padding: 0;
    font-family: 'work sans';
    box-sizing: border-box;
}
.container{
    max-width: 1224px;
    margin: auto;
}
/* header-section start */
 /* nav-bar section start */
   
.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
    padding: 12px 20px;
}
.logo {
     font-size: 20px;
}
.menu {
    display: flex;
}
.menu li {
    padding-left: 30px;
}
.menu li a {
    display: inline-block;
    text-decoration: none;
    color: #000;
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    text-transform: uppercase;
}
.menu li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    transition: 0.15s ease-in-out;
}
.menu li a:hover:after {
    width: 100%;
}
.open-menu , .close-menu {
    position: absolute;
    cursor: pointer;
    font-size:24px;
    display: none;
}
.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
.close-menu {
    top: 20px;
    right: 20px;
}
#check {display: none;}
 /* nav-bar section end */


header{
    background: rgba(255, 144, 14, 0.1);
}
 /* banner-section start */
  .banner-section{
    text-align: center;
  }
  .banner-section img{
    width: 1224px;
    height: 500px;
  }
  .banner-details{
    text-align: center;
     margin: 50px;
  }
  .banner-title{
    font-size: 45px;
    font-weight: 700;

  }
  .banner-details p{
    font-size: 16px;
    font-size: 400;
    color:rgba(114, 114, 114, 1) ;
    padding: 10px 0;
  }
  .banner-btn{
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    color: #fff;
    background: rgba(255, 144, 14, 1) ;
    margin-top: 10px;
}

  /* banner-section end */
/* header-section End */

/* feature-section */
.feature-content{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    
}
.feature-images{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}
.feature-details h2{
    font-size: 45px;
    font-weight: 700;
    margin-bottom:30px;
}
.feature-details p{
   font-size: 16px;
   font-weight: 400;
   color: #727272;
   margin-bottom:20px;
}

.yollow{
    color: rgba(255, 144, 14, 1);
}
.gray{
    color:rgba(114, 114, 114, 1) ;
    font-weight:400 ;
    }
/* services-section start */
.services{
    margin-top: 80px;
    display: flex;
     
    align-items: center;
    gap: 100px;
}
.service-title{
    font-size: 45px;
    font-weight: 700;
    padding-left: 20px;
    border-left: 5px solid rgba(255, 144, 14, 1) ;
}
.services-content{
    position: relative;
}
.services-content p{
    font-size: 16px;
    font-weight: 400;
    color: rgba(114, 114, 114, 1);

}
.services-image{
   
    position: relative;
  
}
.services-item{
    padding: 10px 10px;
}
.service{
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 10px 20px;
    padding-left: 10px;
    margin: 10px 0;
}
.service h4{
    font-size: 20px;
    font-weight: 600;
}
.service p{
    font-size: 16px;
    font-weight: 400;
    color:rgba(114, 114, 114, 1) ;

}
.services-image .div img{
    width: 75%;
    margin: auto;
}
.services-image button{
     color: #fff;
     padding: 40px 50px;
     border: none;
     position: absolute;
     border-radius: 5px;
     bottom: -50px;
     left: -50px;
       
     background: rgba(255, 144, 14, 1);
     
}
.services-image button h1{
    font-size: 40px;
    font-weight: 700;
}
/* services-section End */
.projects{
    padding: 80px 0;
}
.projects h2{
    font-size:45px ;
    font-weight: 700;
}
.projects p{
    font-size: 16px;
    font-weight: 400;

}
.project p{
    font-size: 45px;
    font-weight: 600;
    color:rgba(66, 66, 66, 1) ;
}
.project h4{
     font-size: 20px;
     font-weight: 600;
     color: rgba(114, 114, 114, 1) ;
}
.project-item{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    padding:30px 50px;
    
}
.project{
    text-align: center;
   
    padding: 30px 20px;
    margin: 20px 0;
    border: 1px solid rgba(255, 144, 14, 1);
    border-radius: 2px;
    transition: .4s;}
    .project:hover{
        border: 5px solid gray;
        color: aquamarine;
        font-size: 30px;
    }
/* Brans-section start */
.brands{
    margin-bottom: 50px;
}
.brand-logo{
     text-align: center;
     margin:20px 0;
    
  }
   
  .brand-description{
    text-align: center;
    padding: 50px 0;
  }
  .brand-description h1{
    font-size: 45px;
    padding-bottom: 20px;
  }
  .brand-description p{
    font-size: 16px;
    font-weight: 400;
    color:rgba(114, 114, 114, 1) ;
  }
  .brand-logo img{
    margin: 20px 30px;
    color: #727272;
  }
/* Brans-section End */
/* contact-section */
.contact{
    text-align: center;
    padding: 20px 0;
    background: rgba(255, 144, 14, 0.1) ;
}
.contact-title{
    font-size: 45px;
    font-weight: 400;
}
.contact_form{
     
     
}
form{
     display: grid;
     grid-template-rows: repeat(1,1fr);
     justify-content: center;
     align-items: center;
     padding-top:30px ;
      
     
}
.input{
  padding: 20px 50px;
  width: 100%;
  margin: 10px;
  border-radius: 5px;
  background:#fff;
  text-align: left;
}
/* footer-section */
.footer{
    background: rgba(255, 144, 14, 0.1);
     padding: 20px 10px;
     text-align: center;
     margin: 20px 0;
}
/* responsive-section start */
   @media only screen and (max-width:576px){
     /* nav-bar section start */
     .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        transition: all 0.2s ease-in-out;
    }
    .menu li {
        margin-top: 40px;
    }
    .menu li a {
        padding: 10px;
    }
    .open-menu , .close-menu {
        display: block;
    }
    #check:checked ~ .menu {
        right: 0;}
     /* nav-bar section start */
    
    
    
    /* banner-section */
      
    header{
        background: none;
     }.banner-details{
        text-align: center;
        margin: 0;
     }
      
     .banner-section{
          display: grid;
      grid-template-rows: repeat(1,1fr);

   }
   .banner-section img{
    width: 100%;
    height: auto;
    margin: 10px 0;
    text-align: center;

   }


   /* feature section */

   .feature-content{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    flex-direction: row-reverse;
   
   }
   .feature-images{
    
    grid-template-columns: repeat(1,1fr);
  
   }
   .feature-images.images{

    
   }
   .feature-details{
    text-align: center;
    flex-direction: column-reverse;
   }
   /* services-section */
   .services{
    display: grid;
    grid-template-rows: repeat(1,2fr);
   }
   .services-image .div img{
    width: 100%;
    margin: 0 10px;
   }
   /* projects */
   .project-item{
    display: grid;
    grid-template-rows: repeat(1,1fr);
   }
   .brand-logo{
    grid-template-columns: repeat(2,1fr);
   }
   .project:hover{
        border: 5px solid gray;
        color: aquamarine;
        font-size: 30px;
   }
}
/* responsive-section End */
 
 